@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sign */
.sign {
  color: white;
  background-color: rgb(12, 12, 12);
  padding: 1px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.moving-sign {
  animation: slide-left 75s linear infinite;
  white-space: nowrap;
}

/* Nav */
.logo {
  font-family: "Barlow Condensed", sans-serif;
}

.log > h1 {
  margin-right: 3rem;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin: 0rem 1rem;
  gap: 2rem;
  white-space: nowrap;
  font-size: 2vw;
}

.nav-container {
  display: flex;
  gap: 1.5rem;
}

.search {
  height: 23px;
  width: 23px;
}

/* Title */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
}

.product-title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

/* Cards: New Products */
#card-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  border: 2px solid black;
}

.card-image {
  text-align: center;
  height: 5rem;
  width: 5rem;
}

.product-description {
  font-style: italic;
}

/* Announcement */
.announce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1px;
  background-color: black;
}

.announce-image {
  width: 100%;
  height: 70%;
}

.announcement-h3 {
  font-size: 5vw;
  color: greenyellow;
}

.announcement-h4 {
  font-size: 2vw;
  color: #fff;
}


/* Contact Form */
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0c0c0c;
  font-family: "Barlow Condensed", sans-serif;
}

form {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: 20vh;
}

.contact-text {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.email {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: underline 2px greenyellow;
}

/* Footer */
footer {
  padding: 1rem;
  font-family: "Barlow Condensed", sans-serif;

}
.footer-menu1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.footer-one > h5 {
  font-size: 1rem;
}

.footer-two > h5 {
  font-size: 1rem;
  text-decoration: underline;

}
.footer-three > h5 {
  font-size: 1rem;
  text-decoration: underline;

}
.footer-four > h5 {
  font-size: 1rem;
  text-decoration: underline;
}

.footer-two > h6 {
  font-size: .8rem;
}

.footer-three > h6 {
  font-size: .8rem;
}
.footer-four > h6 {
  font-size: .8rem;
}


.footer-menu2 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 4vw;
}

.footer-menu3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2vw;
  gap: 1rem;
}

.footer-menu4 {
  text-align: center;
  gap: 1rem;
  padding-top: 2rem;
}

/* Keyframes for sign */
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}

@media (max-width: 800px) {
  .cards {
    flex-direction: column;
    gap: 3rem;
  }
}
