@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sign */
.sign {
  color: white;
  background-color: rgb(12, 12, 12);
  padding: 1px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.moving-sign {
  animation: slide-left 75s linear infinite;
  white-space: nowrap;
}

/* Nav */
.logo {
  font-family: "Barlow Condensed", sans-serif;
}

.log > h1 {
  margin-right: 13rem;
  font-size: 2rem;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin: 0rem 1rem;
  gap: 2rem;
  white-space: nowrap;
  verflow: hidden;
}

.nav-container {
  display: flex;
  gap: 1.5rem;
}

.search {
  height: 23px;
  width: 23px;
}

/* Title */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
}

.product-title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

/* Cards: New Products */
#card-container {
  display: table; /* Make the container element behave like a table */
  width: 100%;
  height: auto;
}

.card {
  display: table-cell;
  padding: 2rem;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  height: 20vw;
}

/*
img {
  text-align: center;
  height: 10rem;
  width: 12rem;
} */

.product-description {
  font-style: italic;
}

/* Announcement */
.announce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1px;
  background-color: black;
}

.announce-image {
  width: 100%;
  height: auto;
}

.announcement-h3 {
  font-size: 5vw;
  color: greenyellow;
}

.announcement-h4 {
  font-size: 2vw;
  color: #fff;
}


/* Contact Form */
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0c0c0c;
  font-family: "Barlow Condensed", sans-serif;
}

form {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: 20vh;
}

.contact-text {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.email {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: underline 2px greenyellow;
}

/* Keyframes for sign */
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}

@media (max-width: 800px) {
  .cards {
    flex-direction: column;
    gap: 3rem;
  }
}
